@media (min-width: 320px) and (max-width: 480px) {
  .form-input,
  .btn {
    padding: 1em 0 1em 0;
  }

  form {
    max-width: 300px;
    width: 100%;
  }

  .form-username-wrapper,
  .query-wrapper-container {
    display: flex;
    flex-direction: column;
  }

  .toast-hidden {
    max-width: 200px;
    width: 100%;
    background-color: var(--Grey);
    color: var(--White);
    padding: 1em;
    border-radius: var(--border-radius);
    font-size: 0.8rem;
  }

  .icon-check {
    width: 15px;
  }
}
